<div id="login">
    <div id="login-top"></div>
        <div id="login-body">
            <h2>Log In</h2>
            <% form_tag session_path do  %>
                <%= error_messages_for :session %>
                <% if flash[:message] %>
                    <div id="message">
                        <%= flash[:message] %>
                    </div>
                <% end %>
                <div class="form-row">
                    <label for="email">Email:</label>
                    <%= text_field_tag 'email' %>
                </div>
                <div class="form-row">
                    <label for="password">Password:</label>
                    <%= password_field_tag 'password'%>
                </div>
                <div class="form-row">
                    <div id="remember">
                        <label for="remember_me">Remember Me</label>
                        <%= check_box_tag 'remember_me', '1', @remember_me %>
                    </div>
                    <div id="forgot-password-link">
                        <%= link_to 'Forgot your password?', forgot_path %>
                    </div>
                </div>
                <div class="form-row">
                    <%= submit_tag "Sign In", :id => "login-submit" %>
                </div>
            <% end %>
        </div><!-- end login-body -->
    <div id="login-bottom"></div>
</div><!-- end login -->