<p>
  <b>Name:</b>
  <%=h @issue.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @issue.description %>
</p>

<p>
  <b>Category:</b>
  <%=h @issue.category %>
</p>

<% if permitted_to?(:edit, @issue) %> 
	<%= link_to 'Edit', edit_issue_path(@issue) %><br/>
<% end %>
<% if permitted_to?(:destroy, @issue) %>	
	<%= link_to 'Destroy', @issue, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

