<p>
  <b>Name:</b>
  <%=h @issue.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @issue.description %>
</p>

<p>
  <b>Category:</b>
  <%=h @issue.category %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
