<% content_for :js_foot do %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'application' %>
<% end %>
<div id="login">
<h2>Admin Log In</h2>
  <% form_for :admin do |form| %>
    <% if flash[:notice] %>
      <div id="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="form-row">
      <label>*Email:</label>
      <%= form.text_field :email %>
    </div>
    <div class="form-row">
      <label>*Password:</label>
      <%= form.password_field :password %>
    </div>
    <%= submit_tag "log in", :id => "submit" %>
  <% end %>
</div><!-- end admin-login -->
