

<label>First Name: </label><span><%= f.text_field :firstname %></span><br/>
<label>Last Name: </label><span><%= f.text_field :lastname %></span><br/>
<label>Email: </label><span><%= f.text_field :email  %></span><br/>
<label>Location: </label><span><%= f.text_field :location, 'profile[location]' %></span><br/>
<label>Website: </label><span><%= f.text_field :website %></span><br/>
