<%= javascript_include_tag 'jquery.validate' %>
<div id="register">
    <div id="register-top"></div>
        <div id="register-body">
                <h2>Sign Up and Write a Review</h2>
                <% form_tag register_path, :id=>"register-form" do  %>
                    <% if flash[:notice] %>
                      <div id="notice">
                        <%= flash[:notice] %>
                      </div>
                    <% end %>
                    <div class="form-row">
                        <label>*Email:</label>
                        <%= text_field_tag 'email', @login %></p>
                    </div>
                    <div class="form-row">
                        <label>*Password:</label>
                        <%= password_field_tag 'password', nil %></p>
                    </div>
                    <div class="form-row">
                        <label>*Confirm Password:</label>
                        <%= password_field_tag :confirm_password, nil %>
                    </div>
                    <div id="agree" class="form-row">
                        <span>I agree to the <%= link_to 'Citizens Market Terms of Service', '/terms', :target => :new %></span>
                        
                        <%= check_box_tag :agree_to_terms, nil %> 
                    </div>
                    <div class="form-row">
                        <%= submit_tag "Sign Up", :id => "submit" %>
                    </div>
                <% end %>
        </div><!-- end register-body -->
    <div id="register-bottom"></div>
</div><!-- end register -->

