<ul>
  <li><label>Name: </label><span><%=h @user.name %></span></li>
  <li><label>Email: </label><span><%=h @user.email %></span></li>
  <li><label>Location: </label><span><%=h @user.location %></span></li>
  <li><label>Website: </label><span><%=auto_link h(@user.website) %></span></li>
  <li><label>Reviews: </label><span><%=link_to '7', '' %></span></li>
</ul>