
<% unless current_user == @user %>
	<font color="red">this isn't the logged-in user's account - need to develop security</font>
<% end %>

<h1>Editing My Profile</h1>

<% form_for(:user, :url => user_path(@user), :html => {:method => :put}) do |f| %>
	
	<%= render :partial => 'form', :locals => {:f => f}%>
	<%= f.submit "Save Profile" %>
	
<% end %>




<br>
<br>
<hr color="red" size="6px">
<h1><font color="red">old stuff ... to be moved to separate pages:</font></h1>

<div class="content_box">
  	
	<div id="my_priorities" class="tab_content">
		<div id="user_profile" class="yui-g">
			<div id="user_issues_errors" style="width: 600px;"></div>

			<h2>My Issues</h2>
			<div id="user_issues">
				<%=render :partial => "issues_edit"%>
			</div>
		</div>
	</div>
	
	<div id="my_reviews" class="tab_content">
		<% for review in @user.reviews %>
			<%= render :partial => 'reviews/review', :locals => {:review => review, :show_company => true} %>
		<% end %>
	</div>
	
	<div id="my_stats" class="tab_content">
		<div id="activity_feed" class="yui-u">

			<h2>Most Recent Activity <%=image_tag 'feed.png' %></h2>

			<div class="event">
				<div class="heading">
					<%=image_tag 'review.png', :class => 'icon' %>
					<span class="username"><%=link_to 'jimp79', '' %></span> -
					<span class="when">2 hours ago</span>
				</div>
				<div class="description">
					Posted a review of <%=link_to 'Unilever', '' %> (4 out of 10 stars)
				</div>
			</div>

			<div class="event">
				<div class="heading">
					<%=image_tag 'user_comment.png', :class => 'icon' %>
					<span class="username"><%=link_to 'jimp79', '' %></span> -
					<span class="when">1 day ago</span>
				</div>
				<div class="description">
					Commented on a review of <%=link_to 'ExxonMobile', '' %>
				</div>
			</div>

			<div class="event">
				<div class="heading">
					<%=image_tag 'thumbs_up.png', :class => 'icon' %>
					<span class="username"><%=link_to 'jimp79', '' %></span> -
					<span class="when">1 day ago</span>
				</div>
				<div class="description">
					Likes a review of <%=link_to 'ExxonMobile', '' %>
				</div>
			</div>

			<div class="event">
				<div class="heading">
					<%=image_tag 'review.png', :class => 'icon' %>
					<span class="username"><%=link_to 'jimp79', '' %></span> -
					<span class="when">5 days ago</span>
				</div>
				<div class="description">
					Posted a review of <%=link_to 'Proctor & Gamble', '' %> (8 out of 10 stars)
				</div>
			</div>

			<div class="event">
				<div class="heading">
					<%=image_tag 'thumbs_down.png', :class => 'icon' %>
					<span class="username"><%=link_to 'jimp79', '' %></span> -
					<span class="when">1 day ago</span>
				</div>
				<div class="description">
					Dislikes a review of <%=link_to 'Kimberly-Clark', '' %>
				</div>
			</div>


		</div>
	</div>

</div>
	
	
			

