<div id="user_new" class="form_box">
<div class="content_header">
<h2>Sign up as a new user</h2>
</div>
<div class="content_body">
<div id="user-registration-form">
<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
  <fieldset>
    <%= f.label :email, "Email *" %>
    <%= f.text_field :email %></p>
  </fieldset>    
  <fieldset>
    <%= f.label :password, "Password *" %>
    <%= f.password_field :password %>
  </fieldset>
  <fieldset>
    <%= f.label :password_confirmation, 'Confirm Password *' %>
    <%= f.password_field :password_confirmation %>
  </fieldset>
  <fieldset>
    <%= f.label :terms_of_use, "I agree to the #{link_to 'Terms of use', '/terms', :target => :new} *" %>
    <%= f.check_box :terms_of_use, :value => "1" %> 
  </fieldset>  
  <div class="submit">
    <%= image_submit_tag "button_submit.gif" %>
    
    <p>* denotes required</p>
  </div>
<% end -%>
</div>

</div>
