


<div id="user_profile" class="yui-g">
	<div class="yui-u first">
		
		<div class="heading">
  		<%=image_tag @user.gravatar_url(:size => 50), :class => 'avatar'%>
      <h1><%=h @user.login %></h1>
    </div>
    <br/>
   	
	<ul>
	  <li><label>Name: </label><span><%=h @user.firstname %> <%=h @user.lastname %></span></li>
	  <li><label>Email: </label><span><%=h @user.email %></span></li>
	  <li><label>Location: </label><span><%=h @user.location %></span></li>
	  <li><label>Website: </label><span><%=auto_link h(@user.website) %></span></li>
	  <li><label>Reviews: </label><span><%=link_to @user.reviews.size, 'user_reviews_path(@user) not yet built' %></span></li>
	</ul>
	<br/>
	<br/>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
	
</div>