<h1>About Us</h1>
<div class="content_box">
  	<div class="header">
    	<%= render_tabs [
      		{:label => 'Our Team', :on => true},
      		{:label => 'Our Model'},
      		{:label => 'Our Methods'},
      		{:label => 'FAQ'},
		] %>
  	</div><!-- end header -->
	<div id="our_team" class="tab_content">
		<h2>Our Team</h2>
    	<p>
			Our team has tripled since we first enrolled in the "Social Enterprise Collaboratory" course
    		at the John F. Kennedy School of Government at Harvard University.
    		The course functions as an incubator for social enterprises.  
    	</p>
		<span class="member_name">Stéphane de Messières</span><br />
        <span class="member_title">Executive Director</span><br/>
        <a HREF="mailto:sdemessieres@citizensmarket.org">sdemessieres@citizensmarket.org</a><br />
        <%= image_tag 'Stephane.JPG', :class => 'left_photo' %>
        <p class="bio">Stéphane conceived Citizens Market years ago in his (ongoing) efforts to learn about the social and environmental impacts of the companies behind the brands he buys. He recently graduated with a Master in Public Policy from the Kennedy School of Government at Harvard University, where he was the Co-President of the student Corporate Responsibility Council.  Stéphane currently works as a consultant for the Private Sector Team at Oxfam America, designing tools to build their capacity for innovative collaborations with companies.  He has worked as a caseworker, manager and independent consultant for various nonprofit mental health housing organizations in New York City.  Stéphane holds a B.A. in international relations from Haverford College.  He grew up in the fine state of Maryland and currently lives with his wife, Justine, in Cambridge, Massachusetts.</p>
		<br />
        <span class="member_name">Luke Griffiths</span><br/>
        <span class="member_title">Web Developer</b><br /> </span>
        <a HREF="mailto:lgriffiths@citizensmarket.org">lgriffiths@citizensmarket.org</a><br />
        <%= image_tag 'Luke.jpg', :class => 'left_photo' %>
		<p class="bio">Luke brings experience from consulting industries including transportation engineering, strategic analysis, and environmentally friendly building design, and combines it with a budding career as a no-holds-barred entrepreneur.  He maintains a freelance web development practice and acts as advisor for multiple startup companies in the Boston, MA area.  When he's not working on one project or another, he practices Zen and Kundalini Yoga, plays the guitar and keyboard, and has aspirations of mixing electronica.  Luke recognizes that information technology provides individuals with exponentially increasing power, and seeks to influence the growth of this new power by providing outlet and exercise for the basic human impulse to do good for others.  Additionally, he has an academic interest in artificial intelligence and memetics, hence a fascination with the potential for collaborative decision-making to surpass individual and model-based judgment.  He holds a BS in Civil Engineering from Northwestern University.</p>
		<br />
        <span class="member_name">Juliette Heydenrych</span><br/>
        <span class="member_title">Graphic Designer</b></span><br/>
        <a HREF="mailto:jheydenrych@citizensmarket.org">jheydenrych@citizensmarket.org</a><br />
        <%= image_tag 'Juliette.jpg', :class => 'left_photo' %>
		<p class="bio">Juliette is a creative graphic design professional from Portland, Oregon. She has several years of experience in design, web, and creative projects alike, managing undertakings for both local and national clients from concept to delivery. Juliette holds a BA in Graphic Design from Portland State University, where she also studied philosophy and cultural anthropology. She is currently planning to attend graduate school for a certificate in environmental studies and an MFA in Communication Design, while working to promote social standards of ethics, sustainability, and environmental conservation. Juliette eats, breathes, and sleeps for design, art, and its power to change.</p>
		<br />
        <span class="member_name">Kyle Magida</span><br/>
        <span class="member_title">Content Development Manager</span><br/>
        <a HREF="mailto:kmagida@citizensmarket.org">kmagida@citizensmarket.org</a><br />
		<%= image_tag 'Kyle.jpg', :class => 'left_photo' %>
		<p class="bio">Kyle recently graduated from Harvard College, where he majored in History and Science with a sub-concentration on Physics and Astrophysics.  Kyle has gained leadership skills and nonprofit experience by working on affordable housing issues.  When he's not designing algorithms for our Review and Data Point models, Kyle hauls out his mountain bike for extended cross-country tours.  He currently lives in Vermont.</p>
        <br />
        <span class="member_name">Grace Mathews</span><br/>
        <span class="member_title">Web Designer</span><br/>
        <a HREF="mailto:gmathews@citizensmarket.org">gmathews@citizensmarket.org</a><br />
		<%= image_tag 'Grace.jpg', :class => 'left_photo' %>
        <p class="bio">Grace is a web / interaction designer working in the field since 1997. Her professional experience includes art direction, design, and interface architecture for a variety of New York based ad agencies and clients including corporate, pharma, media, technology, as well as arts and non-profits. Grace's education background includes a BA in Advertising and Art History from Purdue University in West Lafayette, Indiana, and an MA from New York University in Visual Arts Management. She is interested in environmental issues, animal rights, ethics, and consumer issues. Originally from the northeast, Grace currently lives in Barcelona, Spain with her husband Tom.</p>
        <br />
        <span class="member_name">Jim Patterson</span><br/>
        <span class="member_title">Web Developer</span><br/>
		<a HREF="mailto:jpatterson@citizensmarket.org">jpatterson@citizensmarket.org</a><br />
        <%= image_tag 'Jim.jpg', :class => "left_photo" %>
		<p class="bio">Jim has over eight years of experience in software development serving in positions ranging from software engineer to Chief Technology Officer for several startup companies. He also has expertise in network and application security, spending three years as the Director of Security Consulting for Rapid7 and four years as an IT specialist for the United States Air Force.  Jim has both a Bachelor’s and Master’s degree in computer science and currently resides in Cambridge, Massachusetts.</p>
        <br />
        <span class="member_name">Todd Pinkerton</span><br/>
        <span class="member_title">Web Administrator</span><br/>
        <a HREF="mailto:tpinkerton@citizensmarket.org">tpinkerton@citizensmarket.org</a><br/>
        <%= image_tag 'Todd.jpg', :class => 'left_photo' %>
        <p class="bio">Todd has several years experience as a technology consultant to early-stage web and mobile startups.  Prior to his consulting business, Todd was a senior engineer at European wireless carrier Orange, where he developed award-winning services for mobile networks.  Todd holds a Bachelor's degree in computer engineering from Case Western Reserve University, and expects to receive a Master's degree from Harvard University in spring 2008.  He currently lives in Cambridge, Massachusetts.</p>
		<br />
        <span class="member_name">Isaac Wohl</span><br/>
        <span class="member_title">Content Development Manager</span><br/>
        <a HREF="mailto:iwohl@citizensmarket.org">iwohl@citizensmarket.org</a><br />
        <%= image_tag 'Isaac.jpg', :class => 'left_photo' %>
        <p class="bio">Isaac recently graduated with a Master in Public Policy from the Kennedy School of Government at Harvard University, concentrating in international trade and finance.  He also studied negotiation, budgeting and financial management, and social entrepreneurship - which is how he became interested in making the marketplace more socially conscious.  Isaac currently works as an International Trade Analyst with the U.S. International Trade Commission and recently completed consulting research for the World Bank.  Isaac has worked on community organizing in various capacities.  He spent the summer of 2006 reopening an elementary school in post-Katrina New Orleans, and has researched user-generated online journalism, carbon emissions trading systems, and transportation in Africa.  He served as a Peace Corps Volunteer in rural Uganda from 2003 to 2005 where he trained educators and managed community development projects.  He studied mathematics and philosophy as an undergraduate at Grinnell College, and worked as a carpenter in Richmond, Virginia from 2001 to 2002.  He plays guitar and is writing a book about his experiences in Uganda.  Isaac was born and raised in Charleston, West Virginia and currently lives in Washington, D.C.</p>
		<br />
        <span class="member_name">Vanessia Wu</span><br/>
        <span class="member_title">Product Manager</span><br/>
        <a HREF="mailto:vwu@citizensmarket.org">vwu@citizensmarket.org</a><br />
        <%= image_tag "Vanessai.JPG", :class => 'left_photo' %>
        <p class="bio">Vanessia has several years of experience advising businesses and managing projects, with a particular focus on technology. She was an international strategy and marketing consultant with Simon-Kucher and Partners in Cambridge, MA. She also interned at Citigroup in Hong Kong and at World Resources Institute (WRI) in Washington, D.C. At WRI, she was part of an early venture that sought to understand how companies can profitably serve people at the bottom of the economic pyramid.  Vanessia holds a bachelor's degree in Computer Science and Development Studies from Brown University. She is fluent in Cantonese and Mandarin and lives in San Francisco.</p>
	</div><!-- end our-team -->
	<div id="our_model" class="tab_content">
		<a href="Citizens_Market_Summary.pdf">Click here</a> to view a summary about us in PDF.<br />
        <a href="Citizens_Market_Funding_Proposal.pdf">Click here</a> to view our funding proposal in PDF.<br />
        <a href="Citizens_Market_Organization_Plan.pdf">Click here</a> to view our full organization plan in PDF.<br />
		<h2>Our Board of Advisors</h2>
        <h4>Our current Board of Advisors includes:</h4>
        <ul style='margin-top:0in' type=disc>
        <li><b>Gordon Bloom</b>, Founder, Harvard Social Entrepreneurship Collaboratory (SE Lab)</li>

        <li><b>Nolan Bowie</b>, Adjunct Professor Public Policy and Senior Fellow, Harvard Kennedy School</li>     
 	    <li><b>Alnoor Ebrahim</b>, Professor of Public Policy, Harvard Kennedy School</li>
        <li><b>Susanne Goldstein</b>, Founder, The Accelerator</li>
        <li><b>R. Paul Herman</b>, Founder and CEO, HIP Investor</li>
        <li><b>Michael Hiscox</b>, Professor of Government, Department of Government, Harvard University</li>

        <li><b>Thomas Kriese</b>, Executive Producer, Social Capital and Networks, Omidyar Network</li>       
        <li><b>Chris Jochnick</b>, Director, Private Sector Team, Oxfam America</li>
        <li><b>David Laakso</b>, Founder, Chelsea Creek Studio</li>
      	<li><b>Renee Lloyd</b>, Assistant Director & Clinical Fellow, CyberLaw Clinic, Berkman Center for Internet and Society, Harvard Law School</li>
        <li><b>Eric Melin</b>, Founder, SpiderSplat Consulting, and Founder, BostonBridge</li>

        <li><b>Michael Pirson</b>, Visiting Fellow, Graduate School of Arts and Sciences, Harvard University</li>
        <li><b>George Polisner</b>, Founder, AloNovo.com</li>
       	<li><b>William Ryan</b>, Research Fellow, Hauser Center for Nonprofit Organizations, Harvard Kenneedy School</li>
        <li><b>Sandra Waddock</b>, Professor of Management, Center for Corporate Citizenship, Boston College</li>
        <li><b>Clay Ward</b>, Founder and President, BuyItLikeYouMeanIt.org</li>

        </ul>
		
		<h2>Our Partners</h2>
        <ul style='margin-top:0in' type=disc>
        <li><b>The Berkman Center for Internet and Society at Harvard University.</b>  Citizens Market is working with the Berkman Center's CyberLaw Clinic to 
        develop our legal strategy.
        <li><b>Boston University School of Management.</b>  Citizens Market is working with MBA student teams to prepare a human resources management plan and a marketing plan.
        </ul>
        
		
	</div>
	
	<div id="our_methods" class="tab_content">
		
		This tab will eventually display an image depicting the flow and aggregation of information from ratings/peer reviews all the way up to My Company Score.
		
		If you'd like to know how we generate each company's score, please have a look at our <%= link_to 'Algorithms Document', '/algorithms' %>
		
	</div>
	
	<div id="faq" class="tab_content">
		<h2>Frequently-Asked Questions</h2>
		
		<b>Q:</b> Why is the sky blue?<br/>
		<b>A:</b> When light passes between two mediums in which the speed of light is different, its path of travel will change by an angle that is defined by (a) the refractory index of the two substances, and (b) the frequency, i.e. wavelength, i.e. <i>color</i> of the light.  For a given interface (as in, for example light passing from the vaccum of space into our atmosphere), each wavelength will take on a different path (see <a href="http://img.photobucket.com/albums/v70/hiphouse/Daily%20Muse/pink-floyd-dark-side.jpg">this example</a>).  Hence, when sunlight enters our atmosphere, red light goes one direction, green light another, and blue ... goes right to your eyes.<br>
		<br>
		
		<b>Q:</b> What's under there?<br/>
		<b>A:</b> Under where?<br/>
		<b>Q:</b> psych!<br/>
		<br>
		<br>
		<b>Q:</b> What is the ideal number of questions for an FAQ?<br/>
		<b>A:</b> Three <br/>
		
		
	</div>
      
        
        
        

</div>

</div><!-- div id="main" -->

