<tr class="row <%= cycle("odd", "even") %>">
  <td class="name">
      <%= link_to company.name, object_url(company) %>
  </td>
  <td class="brands">
    <%= brand_name_list(company, :truncate => true) %>
  </td>
  <td>
    <%= company.score %>
  </td>
  <td>
    <%= company.reviews_count %>
  </td>
</tr>