<div id="news">
  <h4>News</h4>
  <ul>
    <li><label>9/13/2008</label> <%=link_to 'Royal Dutch Shell Has Released its 11th Sustainability Report', '' %></li>
    <li><label>6/28/2008</label> <%=link_to 'TU Delft and Shell Jointly Invest in Sustainable Mobility', '' %></li>
    <li><label>11/9/2007</label> <%=link_to 'Shell: Sustainability At The Heart Of Our Business', '' %></li>
    <li><label>7/11/2007</label> <%=link_to 'Shell contributes $5 million to suppport disaster relief efforts', '' %></li>
    <li><label>8/30/2006</label> <%=link_to 'Shell forests receive Forest Stewardship Council approval', '' %></li>
  </ul>
</div>