<div id="company-issue-score">
    <table summary="This table charts a company's core for each issue.">
        <tr>
            <th id="issue">Issue</th>
            <th id="issue-score">Issue Score</th>
            <th id="total-reviews">Total Reviews</th>
        </tr>
        <% seen_before = {} %>
        <% count = 0 %>
        <% Issue.all(:order => :category).each do |issue| %>
          <% category = issue.category %>
          <% s = @company.issue_score(issue) %>
          <% next if s.nil? %>
          <% if seen_before[category].nil? %>
            <% seen_before[category] = true %>
            <tr class="main-issue-row">
                <td colspan="3" class="main-issue"><%= category %></td>
            </tr>
          <% end %>
          <% if count%2 == 0 %>
          <tr class="shade">
              <td class="sub-issue"><%= issue.name %></td>
              <td class="issue-score score-of-<%= sprintf('%.0f', s) %>"><%= issue_score_star_rating(sprintf('%.2f', s)) %></td>
              <td class="total"><%= @company.reviews_for_issue(issue).size %></td>
          </tr>
          <% else %>
          <tr>
              <td class="sub-issue"><%= issue.name %></td>
              <td class="issue-score score-of-<%= sprintf('%.0f', s) %>"><%= issue_score_star_rating(sprintf('%.2f', s)) %></td>
              <td class="total"><%= @company.reviews_for_issue(issue).size %></td>
          </tr>
          <% end %>
          <% count += 1 %>
        <% end %>
    </table>
</div><!-- end company-issue-score -->