<%= javascript_include_tag 'jquery-ui-dialog.min.js' %>
<%= javascript_include_tag 'jquery.bgiframe.min' %>
<div id="edit-company">
  <h2>Edit Information - <strong><%= @company.name %></strong></h2>
  <%= error_messages_for :company %>
  <% form_for(:company, :url => "/admin", :html => { :method => :put }) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
    <p>
      <%= submit_tag "Update", :id => "submit" %>
      <a id="back" href="/admin" title="Back to Administer Companies">Back</a>
    </p>
  <% end %>
</div><!-- end edit-company -->