<div id="company_index" class="yui-gc">
	<div class="yui-u first">
		
		<h1>Listing Companies</h1>

    <%- @companies.each do |company|%>
      <div class="company">
        <div class="score rounded">
          <%=company.score %>
        </div>
        <div class="info">
          <h2><%=company.name %></h2>
          <span class="brands"><strong>Brands:</strong> <%=company.brands.join(", ")%>, <%=link_to '9 more brands', ''%></span>
          <span class="more"><%=link_to "Learn more", object_url(company), :class => 'arrow' %></span>
        </div>
        <br>
      </div>
    <% end %>


    <%=link_to 'New Company', new_object_url %>
		
	</div>
	<div class="yui-u">
		
		Filtering controls
		
	</div>
</div>

