<h1><%=@company.name %></h1>

<div class="content_box">
  <div class="header">
    <%= render_tabs [
      {:label => 'Scores and Overview', :on => true},
      {:label => 'Reviews'},
      {:label => 'Related Companies'},
      {:label => 'Write a Review', :tab => 'follow_link', :link => new_company_review_url(@company)}
      ] %>
  </div>

  <div id="content">
    <div id="scores_and_overview" class="tab_content show">
 	<%=render :partial => "info_box" %>
      	
		<div style="border: solid thin red; background-color: #ffdddd; width: 400px;">
			<span style="color: red; font-size: 8pt;">Note: this section is temporary, to be used by cm team to observe algorithm behavior</span><br>
		     <% unless current_user.nil? %>
				<font size="4">My Company Score: </font><font size="4" color="blue"><b><%= sprintf('%.2f', current_user.my_company_score(@company)) %></b></font><br>
			<% end %>
		
			<font size="4">Issue Scores</font> (not shown if nil)
			<ul>
			<% Issue.all.each do |issue| %>
				<% s = @company.issue_score(issue) %>
				<% next if s.nil? %>
				<li><%= issue.name %>: <font color="blue"><b><%= sprintf('%.2f', s) %></font></b></li>
			<% end %>
			</ul>
		</div>
		
		<%#=render :partial => "overview_scores" %>
      <br>
    </div>

    <div id="reviews" class="tab_content">
      <h3>Reviews</h3>
      <%=render :partial => "/reviews/review", :collection => @company.reviews %>
    </div>

    <div id="related_companies" class="tab_content">
      <%=render :partial => "company", :collection => Company.all[1..5] %>
    </div>
  </div>
</div>