<div id="company">
	<div id="headers" style="border: dotted black; height: 50px;">
		<div id="header_left" style="border: solid blue;">
			<h1><%=@company.name %></h1>
			<% if current_user.nil? %>
				currently cannot display "my company score" without user logged in
			<% else %>
				overall score: <font color="green" size="4px"><%= fixed_star_rating(CmScores.my_company_score(@company, current_user)) %></font>
			<% end %>
			Total Reviews: <%= @company.reviews.size %>
		</div>
		<div id="header_right" style="border: solid green;">
			<%= link_to "Browse Companies", companies_path %>
			<%= link_to "Rate Reviews", company_reviews_path(@company) %>
		</div>
	</div>
	<div id="scores" style="border: solid black;">
		<%=render :partial => "overview_scores" %>
	</div>
	<div id="info_box" style="border: solid red;">
		<%=render :partial => "info_box" %>
	</div>
</div> 	    
	    
    
    
  