<fieldset id="review_form">
  <%= f.hidden_field :user_id, :value => current_user.id %>

	<!-- 
		cats_and_issues structure{
			'category_name' => {
				'issue_id' => 'issue_name',
				'issue_id' => 'issue_name',
			}
			'category_name' => {
				... and so on
			}
		}	
	-->
	<label for="review_issue_pickers">Issue(s):</label>
	<div id="issue_pickers">
		<%= render :partial => 'issues/issue_picker', :locals => {:parent_div_id => 'issue_pickers', :removable => false }%>
	</div>
	<%= link_to_remote 'add another', 
			:url => {:controller => 'issues', :action => 'issue_picker', :parent_div_id => 'issue_pickers'},
			:update => {:success => 'issue_pickers'}, :position => 'bottom' %>
	
	
  
  <br class="left">

  <div class="star_rating">
    <label for="review_rating">Rating:</label>
    <% (1..10).each do |rating| %>
      <input name="star" type="radio" class="star-rating {split:2}" value="<%=rating %>"/> 
    <% end %>
    <%= f.hidden_field :rating, :class => 'rating_value' %>
    <br class="left">
  </div>
  
  <label for="review_body">Review:</label>
  <%= f.text_area :body, :cols => 110, :rows => 5, :class => 'expanding' %>
  
</fieldset>