<div id="errors"></div>

<fieldset id="review_form">
  
	
	
	<label for="company_picker_container">Company: </label>
	<div id="company_picker_container">
		<% if review.company.nil? %>
			<%= render :partial => 'companies/company_picker' %>
		<% else %>
			<h2><%= review.company.name %></h2>
			<%= link_to_remote 'change', :url => {:controller => 'companies', :action => 'company_picker'}, :update => {:success => 'company_picker_container', :failure => 'errors'} %>
		<% end %>
		
	</div>
	<br><br>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	
	<label for="review_issue_pickers">Issue(s):</label>
	<div id="issue_pickers">
		<%= render :partial => 'issues/issue_picker', :locals => {:parent_div_id => 'issue_pickers', :removable => false }%>
	</div>
	<%= link_to_remote 'add another', 
			:url => {:controller => 'issues', :action => 'issue_picker', :parent_div_id => 'issue_pickers'},
			:update => {:success => 'issue_pickers'}, :position => 'bottom' %>
	
	
  
  <br class="left">

  <div class="star_rating">
    <label for="review_rating">Rating:</label>
    <% (1..10).each do |rating| %>
      <input name="star" type="radio" class="star-rating {split:2}" value="<%=rating %>"/> 
    <% end %>
    <%= f.hidden_field :rating, :class => 'rating_value' %>
    <br class="left">
  </div>
  
  <label for="review_body">Review:</label>
  <%= f.text_area :body, :cols => 110, :rows => 5, :class => 'expanding' %>
  
</fieldset>