<div id="errors"></div>

<fieldset id="review_form">
 	
	<label for="company_picker_container">Company: </label>
	<div id="company_picker_container">
		<% if f.object.company.nil? %>
			<%= render :partial => 'companies/company_picker', :locals => {:object_name => f.object_name, :object_company_id => f.object.company_id} %>
		<% else %>
			<h2><%= f.object.company.name %></h2>
			<%= link_to_remote 'change', :url => {:controller => 'companies', :action => 'company_picker', :object_name => f.object_name.to_s, :object_company_id => f.object.company_id}, :update => {:success => 'company_picker_container', :failure => 'errors'} %>
		<% end %>
		
	</div>
	<br><br>
	
	<div id="issue_pickers">
		<%= render :partial => "reviews/issue_picker", :locals => {:issue => f.object.issues.first || Issue.first} %>
	</div>
	
	<%= link_to_remote 'add another', 
			:url => {:controller => 'reviews', :action => 'issue_picker', :parent_div_id => 'issue_pickers'},
			:update => {:success => 'issue_pickers'}, :position => 'bottom' %>
	
	
  
  <br class="left">

  <div class="star_rating">
    <label for="review_rating">Rating:</label>
    
	<%= f.select :rating, (1..10).map{|x| [(x.to_f/2).to_s, (x.to_f/2).to_s]} %>
	
    <br class="left">
  </div>
  
  <label for="review_body">Body:</label>
  <%= f.text_area :body, :cols => 110, :rows => 5, :class => 'expanding' %>
  
</fieldset>