<!-- (1/4, 3/4) -->
<div class="review">
	<div class="reviewer yui-u first">
		  <%=image_tag "dummy_user.jpg", :class => 'avatar'%>
		<div class="info">
		  <p><%=link_to_user(review.user)%></p>
		  <p><% unless review.user.profile.nil? %><%=review.user.profile[:location] %><% end %></p>
		  <p class="comment_count"> <%=link_to_user(review.user, :content_text => "#{review.user.reviews.size} Reviews")%></p>
		
			<br><br>
			<div class="construction_cruft">
			<!--<div style="border: solid thin red; background-color: #ffeeee; margin: 20px 5px 0;">-->
				<h1>this div temporary to observe algorithms.</h1>
				<b>THIS USER:</b><br>
				lifetime reviews (LR): <font color="blue"><%= CmScores.user_lifetime_reviews(review.user) %></font><br>
				lifetime review score (LRS): <font color="blue"><%= CmScores.user_lifetime_review_score(review.user) %></font><br>
				contributor score (CS): <font color="blue"><%= CmScores.user_contributor_score(review.user) %></font><br>
				contributor level: <font color="blue"><%= CmScores.user_contributor_level(review.user) %></font><br>
			</div>
		</div>
	</div>
	<div class="content yui-u">
		<div class="heading">
	  
			<% if show_company %>
				<%= review.company.name %>
			<% end %>
			
			<span class="fixed_star_rating">
				<%= fixed_star_rating(review.rating)%>
				&nbsp;&nbsp;<%= review.issues.map{|x| x.name}.join(', ') %>
			</span>
			<br/>	
	
		
	  		<span class="time_ago">written <%= time_ago_in_words(review.created_at) %> ago</span>
    	</div><!-- class="heading" -->
    	<div class="body">
      		<%=textilize(snippet(review.body, 100)) %>
    	</div><!-- class="body" --><br/>
    	<div class="footer">
	      	<%=link_to 'Comment', '', :class => 'comment' %> |
		    <%=link_to 'Permalink', '' %>
		</div>
		<div class="footer" id="thumbs_for_review_<%= review.id %>">
				Was this review helpful to you?
			<% if current_user.nil? %>
				<span class="thumbs">
					<%=link_to image_tag('thumbs_down.png'), login_url, :confirm => 'You must login to leave feedback.  Click OK to log in.' %>
	    			<%=link_to image_tag('thumbs_up.png'), login_url, :confirm => 'You must login to leave feedback.  Click OK to log in.' %>
				</span>
			<% else %>
				<% if current_user.has_rated(review) %>
					<%= render :partial => "reviews/feedback_given" %>
				<% else %>
			
					<span class="thumbs">
						<%=link_to_remote image_tag('thumbs_down.png'), :url => vote_down_review_peer_ratings_url(review), :method => :post, :update => "thumbs_for_review_#{review.id}"  %>
	       				<%=link_to_remote image_tag('thumbs_up.png'), :url => vote_up_review_peer_ratings_url(review), :method => :post, :update => "thumbs_for_review_#{review.id}" %>
					</span>
				<% end %>
			<% end %>
	    </div>
	</div>
</div>

