<!-- (1/4, 3/4) -->
<div class="review yui-gf">
	<div class="reviewer yui-u first">
		  <%=image_tag "http://www.gravatar.com/avatar/#{gravatar_hash}?s=53&d=monsterid", :class => 'avatar'%>
		<div class="info">
		  <p><%=link_to user_name, '' %><p>
		  <p><%=location %><p>
		  <p class="comment_count"><%=image_tag "user_comment.png" %> <%=link_to "#{rand(50)+1} reviews", '' %></p>
		</div>
	</div>
	<div class="content yui-u">
		<div class="heading">
		  <div class="review_rating">13 of 17 people found this review helpful</div>
      <span class="star_rating">
        <%=fixed_star_rating(rand(10)+1, :dom_id => dom_id(review)) %> - Research & Development<br>
        <%=fixed_star_rating(rand(10)+1, :dom_id => dom_id(review)) %> - Conservation
      </span>
      <span class="time_ago">written <%= time_ago_in_words((rand(365)+1).days.ago) %> ago</span>
    </div>
    <div class="body">
      <%=textilize(snippet(review.body, 100)) %>
    </div>
    <div class="footer">
      <%=link_to 'Comment', '', :class => 'comment' %> |
      <%=link_to 'Permalink', '' %> |
      Was this review helpful to you?
      <span class="thumbs">
        <%=link_to image_tag('thumbs_down.png'), '' %>
        <%=link_to image_tag('thumbs_up.png'), '' %>
      </span>
    </div>
	</div>
</div>

