<!-- (1/4, 3/4) -->
<div class="review">
	
	<% if permitted_to? :manage, review %>
		
	<% end %>
	<div class="reviewer yui-u first">
		  <%=image_tag review.user.profile_picture.url(:small), :class => "avatar" %>
		<div class="info">
		  <p><%=link_to_user(review.user)%></p>
		  <p><% unless review.user.profile.nil? %><%=review.user.profile[:location] %><% end %></p>
		  <p class="comment_count"> <%=link_to_user(review.user, :content_text => "#{review.user.reviews.size} Reviews")%></p>
			<% if review.user == current_user %>
				
			<% end %>
			<div class="manage">
				<h3>Manage this review</h3>
				status: <span class="status"><%= review.status %></span><br/>
				<% if permitted_to? :edit, review %>
					<%= link_to "edit", edit_review_path(review) %>
				<% end %>
				<% if permitted_to? :publish, review %>
					<%= link_to "publish", publish_review_path(review), :method => :put %>
				<% end %>
			</div>
		
			<br/><br/>
			<div class="construction_cruft">
			<!--<div style="border: solid thin red; background-color: #ffeeee; margin: 20px 5px 0;">-->
				this div temporary to observe algorithms.
				<b>THIS USER:</b><br>
				lifetime reviews (LR): <font color="blue"><%= CmScores.user_lifetime_reviews(review.user) %></font><br>
				lifetime review score (LRS): <font color="blue"><%= CmScores.user_lifetime_review_score(review.user) %></font><br>
				contributor score (CS): <font color="blue"><%= CmScores.user_contributor_score(review.user) %></font><br>
				contributor level: <font color="blue"><%= CmScores.user_contributor_level(review.user) %></font><br>
			</div>
		</div>
	</div>
	<div class="content yui-u">
		<h1>[This is a review]</h1>
		<div class="heading">
	  		<% if show_company %>
				<span class="company"><%= review.company.name %></span>
			<% end %>
			<br/>
			
	
			<span class="fixed_star_rating">
				<%= fixed_star_rating(review.rating)%>
				&nbsp;&nbsp;<%= review.issues.map{|x| x.name}.join(', ') %>
			</span>
			<br/>	
	
		
	  		<span class="time_ago">written <%= time_ago_in_words(review.created_at) %> ago</span>
    	</div><!-- class="heading" -->
    	<div class="body">
      		<%=textilize(snippet(review.body, 100)) %><br/>
			<%= render :partial => "sources/source", :collection => review.sources %>
    	</div><!-- class="body" --><br/>
    	<div class="footer">
	      	<%=link_to 'Comment', '', :class => 'comment' %> |
		    <%=link_to 'Permalink', '' %>
		</div>
		<div class="footer" id="thumbs_for_review_<%= review.id %>">
				
			<% if current_user.nil? %>
				Was this review helpful to you?
				<span class="thumbs">
					<%=link_to image_tag('thumbs_down.png'), login_url, :confirm => 'You must login to leave feedback.  Click OK to log in.' %>
	    			<%=link_to image_tag('thumbs_up.png'), login_url, :confirm => 'You must login to leave feedback.  Click OK to log in.' %>
				</span>
			<% else %>
				<% if current_user.has_rated(review) %>
					<%= render :partial => "peer_ratings/feedback_given" %>
				<% else %>
					Was this review helpful to you?
					<span class="thumbs">
						<%=link_to_remote "vote down", :url => {:controller => 'peer_ratings', :action => 'create', :peer_rating => {:review_id => review.id, :score => '-1'}}, :method => :post, :update => "thumbs_for_review_#{review.id}"  %>
	       				<%=link_to_remote "vote up", :url => {:controller => 'peer_ratings', :action => 'create', :peer_rating => {:review_id => review.id, :score => '1'}}, :method => :post, :update => "thumbs_for_review_#{review.id}" %>
					</span>
				<% end %>
			<% end %>
	    </div>
	</div>
</div>

