<%=link_to image_tag('mast_logo.png'), root_url, :id => 'logo' %>
<p id="tagline">
    <strong>Your Values.  Your Money.  Your Choices.</strong>
</p>
<ul id="top-nav">
    <li><%= link_to "Sign In", '/login', :id => 'login-link' %></li>
    <li><%= link_to "About Us", '/about' %></li>
    <li><%= link_to "Contact", '/contact' %></li>
    <li><%=link_to "Blog", 'http://blog.citizensmarket.org/' %></li>
    <li class="last"><%= link_to "Donate", '/donate' %></li>
</ul>
<div id="nav">
    <ul>
    	<li><%=link_to "Take Action", '/take_action' %></li>
    	<% if current_user.nil? %>
    	    <li><%=link_to "Write a Review", 'http://blog.citizensmarket.org/' %></li>
		<% else %>
            <!-- <li><%= link_to "My Profile", edit_user_url(current_user) %></li> -->
		<% end %>
		<li class="last"><%= link_to "Company Reviews", nil %></li>
        
        <!-- <% if current_user.nil? %>
            <li><%= link_to "Register", '/signup' %></li>
            <li><%= link_to "Sign In", '/login' %></li>
        <% else %>
            <li><%= link_to "Logout", '/logout' %></li>
        <% end %> -->
    </ul>
    <div id="search">
        <% form_for :search, :url => nil do |f| %>
        <div>
        	<%= f.text_field :q, :value => 'Search Citizens\'s Market', :size => 60 %>
        	<%= f.submit 'Search' %>
        </div>
        <% end %>
    </div><!-- end search -->
</div><!-- end nav -->


<!-- <ul>
    <li><%=link_to "Take Action", '/take_action' %></li>
    <% if current_user.nil? %>
        <li><%=link_to "My Profile", '/login' %></li>
    <% else %>
        <li><%= link_to "My Profile", edit_user_url(current_user) %></li>
    <% end %>
    <li><%=link_to "About Us", '/about' %></li>
</ul> -->


