<%=link_to image_tag('logos/new-logo.png'), root_url, :id => 'logo' %>
<ul id="top-nav">
    <% if !current_user.nil? %>
        <li><%= link_to "My Profile", '/my_profile' %></li>
        <li><%=link_to 'About Us', '/about' %></li>
        <li><%= link_to "Blog", 'http://blog.citizensmarket.org/' %></li>
        <li><%= link_to "Donate", '/donate' %></li>
        <li class="last"><%= link_to "Logout", '/logout' %></li>
    <% else %>

    <% end %>
</ul>
<ul id="main-nav">
	<li><%=link_to "Home", '/take_action' %></li>
	<% if current_user.nil? %>
	    <li><%=link_to "Browse Companies", '/browse' %></li>
	    <li><%=link_to "Compare Brands", '/compare' %></li>
	    <li class="last"><%=link_to "Read Reviews", '/read' %></li>
	<% else %>
	    <li><%=link_to "Rate a Company", '/rate' %></li>
	    <li class="last"><%=link_to "Add a Company", '/add' %></li>
	<% end %>
    <% if current_user.nil? %>
        <%= render :partial => "sessions/new" %>
    <% else %>
        <div id="search">
            <% form_for :search, :url => nil do |f| %>
                <div>
                	<%= f.text_field :q, :value => 'Search Citizens Market', :size => 60 %>
                	<%= f.submit 'Search' %>
                </div>
            <% end %>
        </div><!-- end search -->
    <% end %>
</ul><!-- end nav -->

