


<%=link_to image_tag('logos/new-logo.png'), root_url, :id => 'logo' %>
<ul id="top-nav">
    <% if !current_user.nil? %>
        <li><%= link_to "My Profile", '/my_profile' %></li>
        <li><%=link_to 'About Us', '/about' %></li>
        <li><%= link_to "Blog", 'http://blog.citizensmarket.org/' %></li>
        <li><%= link_to "Donate", '/donate' %></li>
        <li class="last"><%= link_to "Logout", '/logout' %></li>
    <% else %>
        <li><%= link_to "Sign In!", login_url, {:id=>'login-bttn'} %></li>
        <li class="last"><%= link_to "About Us", '/about' %></li>
    <% end %>
</ul>
<div id="search">
    <p id="search-text">Find company reviews, product reviews, and more...</p>
    <% form_for :search, :url => nil do |f| %>
        <div>
        	<%= f.text_field :q, :value => '', :size => 60 %>
        	<%= f.submit 'Search', :class => 'hide-text' %>
        </div>
    <% end %>
</div><!-- end search -->
<ul id="main-nav">
    <%= nav_link "Home", {:controller => "home", :action => "show"} %>
    <%= nav_link "Browse Companies", {:controller => "companies", :action => "index"} %>
    <%= nav_link "Browse Reviews", "/reviews" %>
    <%= nav_link "Compare Brands", "/compare" %>
    <% if !current_user.nil? %>
        <%= nav_link "Rate a Company", "/rate" %>
        <%= nav_link "Add a Company", "/add" %>
    <% end %>
</ul><!-- end nav -->
<div id="login-form" class="jqmWindow" >
    <a href="#nogo" class="jqmClose">Close</a>
    <%= render :partial => "sessions/new" %>
</div>



