<%=link_to image_tag('mast_logo.png'), root_url, :id => 'logo' %>
<p id="tagline">
    <strong>Your Values.  Your Money.  Your Choices.</strong>
</p>
<ul id="top-nav">
    <% if !current_user.nil? %>
        <li><%= link_to "My Profile", '/my_profile' %></li>
        <li><%= link_to "Contact", '/contact' %></li>
        <li><%= link_to "Blog", 'http://blog.citizensmarket.org/' %></li>
        <li><%= link_to "Donate", '/donate' %></li>
        <li class="last"><%= link_to "Logout", '/logout' %></li>
    <% else %>

    <% end %>
</ul>
<div id="nav">
    <ul>
    	<li><%=link_to "Take Action", '/take_action' %></li>
    	<% if current_user.nil? %>
    	    <li><%=link_to "Write a Review", 'http://blog.citizensmarket.org/' %></li>
		<% else %>
		
		<% end %>
		<li class="last"><%= link_to "Company Reviews", nil %></li>
    </ul>
    <% if current_user.nil? %>
        <%= render :partial => "sessions/new" %>
    <% else %>
        <div id="search">
            <% form_for :search, :url => nil do |f| %>
                <div>
                	<%= f.text_field :q, :value => 'Search Citizens Market', :size => 60 %>
                	<%= f.submit 'Search' %>
                </div>
            <% end %>
        </div><!-- end search -->
    <% end %>
</div><!-- end nav -->

