<div id="header">
        <div id="nav">
                <%=link_to "Home", root_url %> |
                <%=link_to "About Us", root_url %> |
                <%=link_to "Contact", root_url %> |
                <%=link_to "Blog", 'http://blog.citizensmarket.org/' %> |
                <%=signin_or_logout_link %>
        </div>
        <%=link_to image_tag('mast_logo.png'), root_url %>
        <span id="tag_line">
          Your Values. Your Money. Your Choices.
        </span>
</div>

<div id="globalnav">
  <ul>
    <li><%=link_to "What is Citizens Market?", root_url %></li>
    <li><%=link_to "Browse Companies", companies_url %></li>
    <li><%=link_to "Submit a Review", root_url %></li>
    <li><%=link_to "Donate", root_url %></li>
    <li><%=link_to "Participate", root_url %></li>
  </ul>
</div>
