<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name='language' content='en' />
  <title><%= yield(:title) || "Citizens Market - Your Values. Your Money. Your Choices." %></title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag("reset-fonts-grids") %>
  <%= stylesheet_link_tag("application") %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag('application') %>
  <%= yield(:stylesheets) %>
</head>
<body>
    <div id="doc4" class="yui-t6">
        <div id="header" role="banner">
            <%=render :partial => "layouts/header"%>
        </div>
        <div id="page-left"></div> 
        <div id="main-content">
    	    <% unless flash[:notice].nil? %>
    		    <div id="flash_notice">
    		        <%= flash[:notice] %>
    		    </div>
    	    <% end %>
            <%= yield %>
        </div><!-- end main-content -->
        <div id="page-right"></div>  
        <div id="footer">
            <%=render :partial => "layouts/footer"%>
        </div> 
    </div><!-- end doc4 -->
</body>
</html>
