<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name='language' content='en' />
  <title><%= yield(:title) || "Citizens Market - Your Values. Your Money. Your Choices." %></title>
  <link rel="shortcut icon" href="/favicon.ico">

  <%= stylesheet_link_tag("reset-fonts-grids") %>
  <%= stylesheet_link_tag("application") %>
  <%= stylesheet_link_tag("jquery.autocomplete") %>
  <%= stylesheet_link_tag("jquery.rating") %>
  <%= yield(:stylesheets) %>

</head>
<body>

  <div id="doc4">
    <div id="hd">
      <%=render :partial => "layouts/masthead"%>
    </div> 
    <div id="bd">
      <%= yield %>
    </div> 
    <div id="ft">
      <%=render :partial => "layouts/footer"%>
    </div> 
  </div>
  
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails' %>
  <%= javascript_include_tag 'jquery/metadata' %>
  <%= javascript_include_tag 'jquery/templates' %>
  <%= javascript_include_tag 'jquery/curvycorners' %>
  <%= javascript_include_tag 'jquery/autocomplete' %>
  <%= javascript_include_tag 'jquery/autogrow' %>
  <%= javascript_include_tag 'jquery/rating' %>
  <%= javascript_include_tag('application') %>

</body>
</html>
