<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name='language' content='en' />
  <title><%= yield(:title) || "Citizens Market - Your Values. Your Money. Your Choices." %></title>
  <link rel="shortcut icon" href="/favicon.ico" />

  <%= stylesheet_link_tag("reset-fonts-grids") %>
  <%= stylesheet_link_tag("application") %>
  <%= stylesheet_link_tag("jquery.autocomplete") %>
  <%= stylesheet_link_tag("jquery.rating") %>
  <%= stylesheet_link_tag("jquery.flora/flora.all.css") %>
  <%#= stylesheet_link_tag("jquery-ui-slider-additions.css")%>
  
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jrails' %>
  <%= javascript_include_tag 'jquery/metadata' %>
  <%= javascript_include_tag 'jquery/templates' %>
  <%= javascript_include_tag 'jquery/curvycorners' %>
  <%= javascript_include_tag 'jquery/autocomplete' %>
  <%= javascript_include_tag 'jquery/autogrow' %>
  <%= javascript_include_tag 'jquery/rating' %>
  <%= javascript_include_tag 'jquery/jeditable' %>
  <%= javascript_include_tag('application') %>
  <%= javascript_include_tag 'accessibleUISlider.jQuery' %>
  <%= javascript_include_tag 'cm_chained_selects.js'%>
  
  <%= yield(:stylesheets) %>

</head>
<body>

  <div id="doc4" class="yui-t2">
    <div id="hd">
      <%=render :partial => "layouts/masthead"%>
    </div> 
    <div id="bd">
	<% unless flash[:notice].nil? %>
		<div id="flash_notice"><%= flash[:notice] %></div>
	<% end %>
      <%= yield %>
    </div> 
    <div id="ft">
      <%=render :partial => "layouts/footer"%>
    </div> 
  </div>

</body>
</html>
